@model Test_2.Models.TSach
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "SuaSanPham";
    Layout = "~/Views/Shared/_LayoutAlazea.cshtml";
}

<h1>SuaSanPham</h1>

<h4>TSach</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="SuaSanPham">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaSach" />
            <div class="form-group">
                <label asp-for="TenSach" class="control-label"></label>
                <input asp-for="TenSach" class="form-control" />
                <span asp-validation-for="TenSach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaLoai" class="control-label"></label>
                <select asp-for="MaLoai" class="form-control" asp-items="ViewBag.MaLoai"></select>
                <span asp-validation-for="MaLoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaNgonNgu" class="control-label"></label>
                <select asp-for="MaNgonNgu" class="form-control" asp-items="ViewBag.MaNgonNgu"></select>
                <span asp-validation-for="MaNgonNgu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaNxb" class="control-label"></label>
                <select asp-for="MaNxb" class="form-control" asp-items="ViewBag.MaNxb"></select>
                <span asp-validation-for="MaNxb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TacGia" class="control-label"></label>
                <input asp-for="TacGia" class="form-control" />
                <span asp-validation-for="TacGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NamXb" class="control-label"></label>
                <input asp-for="NamXb" class="form-control" />
                <span asp-validation-for="NamXb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LanXb" class="control-label"></label>
                <input asp-for="LanXb" class="form-control" />
                <span asp-validation-for="LanXb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GioiThieu" class="control-label"></label>
                <input asp-for="GioiThieu" class="form-control" />
                <span asp-validation-for="GioiThieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TongSoTrang" class="control-label"></label>
                <input asp-for="TongSoTrang" class="form-control" />
                <span asp-validation-for="TongSoTrang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tap" class="control-label"></label>
                <input asp-for="Tap" class="form-control" />
                <span asp-validation-for="Tap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TongSoTap" class="control-label"></label>
                <input asp-for="TongSoTap" class="form-control" />
                <span asp-validation-for="TongSoTap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaTriSach" class="control-label"></label>
                <input asp-for="GiaTriSach" class="form-control" />
                <span asp-validation-for="GiaTriSach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileAnh" class="control-label"></label>
                <input asp-for="FileAnh" class="form-control" />
                <span asp-validation-for="FileAnh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

